/* PROCESOS DEL BUSCADOR: CLICKEABLES */
.procesos-busqueda {
    position: relative;
    z-index: 10;
}

.proceso-busqueda {
    display: inline-block;
    position: relative;
    z-index: 20;
    cursor: pointer !important;
    user-select: none;
    pointer-events: auto !important;
}

.proceso-busqueda:hover {
    background: #bfdbfe;
    transform: scale(1.03);
}

.proceso-busqueda.terminado:hover {
    background: #b9151b;
}
